<div class="search-section">
    
     <form class="d-flex" method="GET" action="{% url 'home' %}">
  
              <input type="text" id="adv-search"
               class="form-control" name="q"
                placeholder="Advanced Search Location,Rentals,amenities,infrastructure">
              <input type="submit" value="Search" id="adv-search-btn" class="btn btn-warning">
              <!-- <button type="submit" class="btn btn-secondary" ><i class="bi-search"></i></button> -->
         
      </form>

</div>